<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzcloud.iot.house.mapper.IotResourcesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzcloud.iot.house.entity.IotResources">
    <result column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="structure_id" property="structureId" />
        <result column="account_id" property="accountId" />
        <result column="type_id" property="typeId" />
        <result column="name" property="name" />
        <result column="facilities" property="facilities" />
        <result column="picture" property="picture" />
        <result column="cash_pledge" property="cashPledge" />
        <result column="label" property="label" />
        <result column="house_type" property="houseType" />
        <result column="area" property="area" />
        <result column="introduction" property="introduction" />
        <result column="map_location" property="mapLocation" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id, structure_id, account_id, type_id, name, facilities, picture, cash_pledge, label, house_type, area, introduction, map_location, status, create_time, update_time, del_flag
    </sql>

</mapper>
