<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.invest.dao.IndustryWeakMapper">

    <!-- RspIndustryWeakDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.invest.bean.dto.RspIndustryWeakDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="industry" column="industry" jdbcType="INTEGER"/>
        <result property="industrySecond" column="industry_second" jdbcType="INTEGER"/>
        <result property="industryNode" column="industry_node" jdbcType="INTEGER"/>
        <result property="industrialTotalOutput" column="industrial_total_output" jdbcType="NUMERIC"/>
        <result property="growthTotalOutput" column="growth_total_output" jdbcType="NUMERIC"/>
        <result property="industrialAddedValue" column="industrial_added_value" jdbcType="NUMERIC"/>
        <result property="growthIndustrialAdded" column="growth_industrial_added" jdbcType="NUMERIC"/>
        <result property="taxRevenue" column="tax_revenue" jdbcType="NUMERIC"/>
        <result property="totalPatentInvention" column="total_patent_invention" jdbcType="NUMERIC"/>
        <result property="totalScaleAbove" column="total_scale_above" jdbcType="NUMERIC"/>
        <result property="totalMarket" column="total_market" jdbcType="NUMERIC"/>
        <result property="industrialInvestment" column="industrial_investment" jdbcType="NUMERIC"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, industry, industry_second, industry_node, industrial_total_output, growth_total_output, industrial_added_value, growth_industrial_added, tax_revenue, total_patent_invention, total_scale_above, total_market, industrial_investment, create_by, create_time, update_by, update_time</sql>

    <!-- 产业链节点评价指标设置-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, industry, industry_second, industry_node, industrial_total_output, growth_total_output,
        industrial_added_value, growth_industrial_added, tax_revenue, total_patent_invention, total_scale_above,
        total_market, industrial_investment, create_by, create_time, update_by, update_time FROM sp_in_industry_weak
        <where>
            <if test="reqDto.id != null">
                AND id = #{reqDto.id}
            </if>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
