<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.mapper.SysSmsMapper">

    <!-- RspSysSmsDto查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.dfzl.sms.bean.dto.RspSysSmsDto">
        <result property="id" column="ID" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esTitle" column="ES_TITLE" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esType" column="ES_TYPE" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esReceiver" column="ES_RECEIVER" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esParam" column="ES_PARAM" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esContent" column="ES_CONTENT" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esSendTime" column="ES_SEND_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="esSendStatus" column="ES_SEND_STATUS" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="esSendNum" column="ES_SEND_NUM" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="esResult" column="ES_RESULT" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="BaseColumnList">a.ID, a.ES_TITLE, a.ES_TYPE, a.ES_RECEIVER, a.ES_PARAM, a.ES_CONTENT, a.ES_SEND_TIME, a.ES_SEND_STATUS, a.ES_SEND_NUM, a.ES_RESULT, a.REMARK, a.CREATE_BY, a.CREATE_TIME, a.UPDATE_BY, a.UPDATE_TIME</sql>

    <!-- 短信表-详情查询 -->
    <select id="detail" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM SYS_SMS a
        WHERE DEL_FLAG = 0 and a.ID = #{id}
    </select>

    <!-- 短信表-条件查询 -->
    <select id="queryByConditions" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM SYS_SMS a
        <where>
            DEL_FLAG = 0
            <if test="reqDto.id != null">
                AND a.ID = #{reqDto.id}
            </if>
            <if test="reqDto.ids != null and reqDto.ids.size > 0 ">
                AND a.ID IN
                <foreach collection="reqDto.ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reqDto.name != null and reqDto.name != '' ">
                AND a.NAME LIKE concat('%',#{reqDto.name},'%')
            </if>
        </where>
        ORDER BY a.CREATE_TIME DESC
    </select>


</mapper>
