<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzcloud.linksame.appeal.mapper.AppealLogMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.hzcloud.linksame.appeal.entity.AppealLog">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="appealId" column="appeal_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
        <result property="firmId" column="firm_id" jdbcType="VARCHAR"/>
        <result property="firmName" column="firm_name" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="deptType" column="dept_type" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="OTHER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- AppealLogVO查询结果集映射 -->
    <resultMap id="AppealLogVOResultMap" type="com.hzcloud.linksame.appeal.vo.AppealLogVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="appealId" column="appeal_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
        <result property="firmId" column="firm_id" jdbcType="VARCHAR"/>
        <result property="firmName" column="firm_name" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="deptType" column="dept_type" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="OTHER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, type, type_name, appeal_id, user_id, user_name, user_phone, firm_id, firm_name, dept_id, dept_type, dept_name, title, content, create_time</sql>


    <!-- 根据id查询工单处理记录表详情(多服务) -->
    <select id="queryAppealLogDetail" resultMap="AppealLogVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM appeal_log
        WHERE del_flag = 0 AND id = #{id}
    </select>

    <!-- 无参查询工单处理记录表List -->
    <select id="queryAppealLogList" resultMap="AppealLogVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM appeal_log
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询工单处理记录表List -->
    <select id="queryByConditions" resultMap="AppealLogVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM appeal_log
        <where>
            del_flag = 0
            <if test="appealLogDTO.name != null and appealLogDTO.name != '' ">
                AND `name` LIKE CONCAT('%', #{appealLogDTO.name},'%')
            </if>
            <if test="appealLogDTO.status != null and appealLogDTO.status != '' ">
                AND status = #{appealLogDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
