<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.report.dao.BsInvestProjectMapper">

    <!-- RspBsInvestProjectDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.report.bean.dto.RspBsInvestProjectDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="date" column="date" jdbcType="TIMESTAMP"/>
        <result property="investPlan" column="invest_plan" jdbcType="NUMERIC"/>
        <result property="investInvestment" column="invest_investment" jdbcType="NUMERIC"/>
        <result property="investRatio" column="invest_ratio" jdbcType="NUMERIC"/>
        <result property="totalIntentionalCompany" column="total_intentional_company" jdbcType="NUMERIC"/>
        <result property="totalContractApply" column="total_contract_apply" jdbcType="NUMERIC"/>
        <result property="totalContractSign" column="total_contract_sign" jdbcType="NUMERIC"/>
        <result property="totalSettle" column="total_settle" jdbcType="NUMERIC"/>
        <result property="totalProductionCompany" column="total_production_company" jdbcType="NUMERIC"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, date, invest_plan, invest_investment, invest_ratio, total_intentional_company, total_contract_apply, total_contract_sign, total_settle, total_production_company, create_by, create_time, update_by, update_time</sql>

    <!-- 智慧大屏-系统-招商项目-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, date, invest_plan, invest_investment, invest_ratio, total_intentional_company,
        total_contract_apply, total_contract_sign, total_settle, total_production_company, create_by, create_time,
        update_by, update_time FROM sp_bs_invest_project
        <where>
            <if test="reqDto.id != null">
                AND id = #{reqDto.id}
            </if>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
