<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.report.dao.BsInvestIndustryMapper">

    <!-- RspBsInvestIndustryDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.report.bean.dto.RspBsInvestIndustryDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="industryId" column="industry_id" jdbcType="INTEGER"/>
        <result property="date" column="date" jdbcType="TIMESTAMP"/>
        <result property="totalChainCompany" column="total_chain_company" jdbcType="NUMERIC"/>
        <result property="outputValue" column="output_value" jdbcType="NUMERIC"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, industry_id, date, total_chain_company, output_value, create_by, create_time, update_by, update_time</sql>

    <!-- 智慧大屏-系统-主导产业产值-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, industry_id, date, total_chain_company, output_value, create_by, create_time, update_by,
        update_time FROM sp_bs_invest_industry
        <where>
            <if test="reqDto.id != null">
                AND id = #{reqDto.id}
            </if>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
