<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.report.dao.BsProjectInnovateMapper">

    <!-- RspBsProjectInnovateDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.report.bean.dto.RspBsProjectInnovateDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="date" column="date" jdbcType="TIMESTAMP"/>
        <result property="totalProject" column="total_project" jdbcType="NUMERIC"/>
        <result property="totalProjectYear" column="total_project_year" jdbcType="NUMERIC"/>
        <result property="totalProjectBuild" column="total_project_build" jdbcType="NUMERIC"/>
        <result property="totalProjectOperation" column="total_project_operation" jdbcType="NUMERIC"/>
        <result property="totalProjectKey" column="total_project_key" jdbcType="NUMERIC"/>
        <result property="investPlan" column="invest_plan" jdbcType="NUMERIC"/>
        <result property="investTotal" column="invest_total" jdbcType="NUMERIC"/>
        <result property="investRate" column="invest_rate" jdbcType="NUMERIC"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, date, total_project, total_project_year, total_project_build, total_project_operation, total_project_key, invest_plan, invest_total, invest_rate, create_by, create_time, update_by, update_time</sql>

    <!-- 智慧大屏-系统-技改投资类项目报表-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, date, total_project, total_project_year, total_project_build, total_project_operation,
        total_project_key, invest_plan, invest_total, invest_rate, create_by, create_time, update_by, update_time FROM
        sp_bs_project_innovate
        <where>
            <if test="reqDto.id != null">
                AND id = #{reqDto.id}
            </if>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
