<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksame.iot.external.structure.mapper.BuildingMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.linksame.iot.external.structure.entity.Building">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="subProjectId" column="sub_project_id" jdbcType="INTEGER"/>
        <result property="buildingName" column="building_name" jdbcType="VARCHAR"/>
        <result property="buildingCode" column="building_code" jdbcType="VARCHAR"/>
        <result property="buildingAlias" column="building_alias" jdbcType="VARCHAR"/>
        <result property="buildingAddress" column="building_address" jdbcType="VARCHAR"/>
        <result property="upFloorLevel" column="up_floor_level" jdbcType="INTEGER"/>
        <result property="underFloorLevel" column="under_floor_level" jdbcType="INTEGER"/>
        <result property="liftNum" column="lift_num" jdbcType="INTEGER"/>
        <result property="backPowerFlag" column="back_power_flag" jdbcType="INTEGER"/>
        <result property="planArchitectureArea" column="plan_architecture_area" jdbcType="NUMERIC"/>
        <result property="completionDate" column="completion_date" jdbcType="TIMESTAMP"/>
        <result property="buildingImg" column="building_img" jdbcType="VARCHAR"/>
        <result property="buildingDescription" column="building_description" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="totalRoomNum" column="total_room_num" jdbcType="INTEGER"/>
        <result property="totalArchitectureArea" column="total_architecture_area" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- BuildingVO查询结果集映射 -->
    <resultMap id="BuildingVOResultMap" type="com.linksame.iot.external.structure.vo.BuildingVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="subProjectId" column="sub_project_id" jdbcType="INTEGER"/>
        <result property="buildingName" column="building_name" jdbcType="VARCHAR"/>
        <result property="buildingCode" column="building_code" jdbcType="VARCHAR"/>
        <result property="buildingAlias" column="building_alias" jdbcType="VARCHAR"/>
        <result property="buildingAddress" column="building_address" jdbcType="VARCHAR"/>
        <result property="upFloorLevel" column="up_floor_level" jdbcType="INTEGER"/>
        <result property="underFloorLevel" column="under_floor_level" jdbcType="INTEGER"/>
        <result property="liftNum" column="lift_num" jdbcType="INTEGER"/>
        <result property="backPowerFlag" column="back_power_flag" jdbcType="INTEGER"/>
        <result property="planArchitectureArea" column="plan_architecture_area" jdbcType="NUMERIC"/>
        <result property="completionDate" column="completion_date" jdbcType="TIMESTAMP"/>
        <result property="buildingImg" column="building_img" jdbcType="VARCHAR"/>
        <result property="buildingDescription" column="building_description" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="totalRoomNum" column="total_room_num" jdbcType="INTEGER"/>
        <result property="totalArchitectureArea" column="total_architecture_area" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, company_id, project_id, sub_project_id, building_name, building_code, building_alias, building_address, up_floor_level, under_floor_level, lift_num, back_power_flag, plan_architecture_area, completion_date, building_img, building_description, delete_flag, creator, create_time, modifier, modify_time, total_room_num, total_architecture_area, remark</sql>


    <!-- 根据id查询资源管理-楼宇表详情(多服务) -->
    <select id="queryBuildingDetail" resultMap="BuildingVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM building
        WHERE del_flag = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询资源管理-楼宇表List -->
    <select id="queryBuildingList" resultMap="BuildingVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM building
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询资源管理-楼宇表List -->
    <select id="queryByConditions" resultMap="BuildingVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM building
        <where>
            del_flag = 0
            <if test="buildingDTO.name != null and buildingDTO.name != '' ">
                AND `name` LIKE CONCAT('%', #{buildingDTO.name},'%')
            </if>
            <if test="buildingDTO.status != null and buildingDTO.status != '' ">
                AND status = #{buildingDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
