<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.invest.dao.CameraEventTypeMapper">

    <!-- RspCameraEventTypeDto查询结果集映射 -->
    <resultMap id="RspCameraEventTypeDtoResultMap" type="com.cateyes.smart.park.invest.bean.dto.RspCameraEventTypeDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="eventType" column="event_type" jdbcType="INTEGER"/>
        <result property="eventName" column="event_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, event_type, event_name</sql>


    <!-- -详情查询 -->
    <select id="queryDetail" resultMap="RspCameraEventTypeDtoResultMap">
        SELECT
        id, event_type, event_name
        FROM sp_iot_camera_event_type
        WHERE id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- -条件查询 -->
    <select id="queryByConditions" resultMap="RspCameraEventTypeDtoResultMap">
        SELECT
        id, event_type, event_name FROM sp_iot_camera_event_type
        <where>
            <if test="reqDto.type != null and reqDto.type != '' ">
                AND type = #{reqDto.type}
            </if>
            <if test="reqDto.status != null">
                AND status = #{reqDto.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
