<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.invest.dao.CompanyMapper">

    <resultMap id="BaseResultMap" type="com.cateyes.smart.park.invest.bean.po.Company">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="contactPerson" column="contact_person" jdbcType="VARCHAR"/>
        <result property="contactTel" column="contact_tel" jdbcType="VARCHAR"/>
        <result property="companyUrl" column="company_url" jdbcType="VARCHAR"/>
        <result property="companyAddress" column="company_address" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="fax" column="fax" jdbcType="VARCHAR"/>
        <result property="tradeId" column="trade_id" jdbcType="INTEGER"/>
        <result property="industry" column="industry" jdbcType="INTEGER"/>
        <result property="industrySecond" column="industry_second" jdbcType="INTEGER"/>
        <result property="industryNode" column="industry_node" jdbcType="INTEGER"/>
        <result property="landArea" column="land_area" jdbcType="OTHER"/>
        <result property="buildingArea" column="building_area" jdbcType="OTHER"/>
        <result property="isBuy" column="is_buy" jdbcType="OTHER"/>
        <result property="wayChannelId" column="way_channel_id" jdbcType="INTEGER"/>
        <result property="wayClueId" column="way_clue_id" jdbcType="INTEGER"/>
        <result property="scale" column="scale" jdbcType="INTEGER"/>
        <result property="qualification" column="qualification" jdbcType="INTEGER"/>
        <result property="stage" column="stage" jdbcType="INTEGER"/>
        <result property="glType" column="gl_type" jdbcType="OTHER"/>
        <result property="isKey" column="is_key" jdbcType="OTHER"/>
        <result property="isIpo" column="is_ipo" jdbcType="OTHER"/>
        <result property="isScaleAbove" column="is_scale_above" jdbcType="OTHER"/>
        <result property="scaleAboveDate" column="scale_above_date" jdbcType="TIMESTAMP"/>
        <result property="logoFileId" column="logo_file_id" jdbcType="VARCHAR"/>
        <result property="picFileId" column="pic_file_id" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
        <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
        <result property="follow" column="follow" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, name, type, contact_person, contact_tel, company_url, company_address, email, fax, trade_id, industry, industry_second, industry_node, land_area, building_area, is_buy, way_channel_id, way_clue_id, scale, qualification, stage, gl_type, is_key, is_ipo, is_scale_above, scale_above_date, logo_file_id, pic_file_id, info, longitude, latitude, follow, create_by, create_time, update_by, update_time</sql>
    
</mapper>
