<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksame.iot.visual.mapper.ComponentMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.linksame.iot.visual.entity.Component">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="componentTypeId" column="component_type_id" jdbcType="INTEGER"/>
        <result property="modelJson" column="model_json" jdbcType="VARCHAR"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- ComponentVO查询结果集映射 -->
    <resultMap id="ComponentVOResultMap" type="com.linksame.iot.visual.vo.ComponentVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="componentTypeId" column="component_type_id" jdbcType="INTEGER"/>
        <result property="modelJson" column="model_json" jdbcType="VARCHAR"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, component_type_id, model_json, model_name, status, create_time, update_time, del_flag</sql>


    <!-- 根据id查询组件详情(跨服务) -->
    <select id="queryComponentDetail" resultMap="ComponentVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM component
        WHERE del_flag = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询组件List -->
    <select id="queryComponentList" resultMap="ComponentVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM component
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询组件List -->
    <select id="queryByConditions" resultMap="ComponentVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM component
        <where>
            del_flag = 0
            <if test="componentDTO.type != null and componentDTO.type != '' ">
                AND type = #{componentDTO.type}
            </if>
            <if test="componentDTO.status != null and componentDTO.status != '' ">
                AND status = #{componentDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
