<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.invest.dao.ContractBillMapper">

    <resultMap id="BaseResultMap" type="com.cateyes.smart.park.invest.bean.po.ContractBill">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="contractId" column="contract_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="resourcesId" column="resources_id" jdbcType="INTEGER"/>
        <result property="resourcesArea" column="resources_area" jdbcType="OTHER"/>
        <result property="priceUnitType" column="price_unit_type" jdbcType="INTEGER"/>
        <result property="priceUnit" column="price_unit" jdbcType="OTHER"/>
        <result property="priceTotal" column="price_total" jdbcType="OTHER"/>
        <result property="payWay" column="pay_way" jdbcType="INTEGER"/>
        <result property="payRatio" column="pay_ratio" jdbcType="VARCHAR"/>
        <result property="payMonthly" column="pay_monthly" jdbcType="OTHER"/>
        <result property="cashPledge" column="cash_pledge" jdbcType="OTHER"/>
        <result property="dateContract" column="date_contract" jdbcType="TIMESTAMP"/>
        <result property="dateStart" column="date_start" jdbcType="TIMESTAMP"/>
        <result property="dateEnd" column="date_end" jdbcType="TIMESTAMP"/>
        <result property="isTax" column="is_tax" jdbcType="OTHER"/>
        <result property="taxRateFirst" column="tax_rate_first" jdbcType="OTHER"/>
        <result property="taxRateSecond" column="tax_rate_second" jdbcType="OTHER"/>
        <result property="rentFree" column="rent_free" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, contract_id, name, resources_id, resources_area, price_unit_type, price_unit, price_total, pay_way, pay_ratio, pay_monthly, cash_pledge, date_contract, date_start, date_end, is_tax, tax_rate_first, tax_rate_second, rent_free</sql>
    
</mapper>
