<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzcloud.iot.mapper.DangerNodeMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.hzcloud.iot.entity.DangerNode">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="inspectionId" column="inspection_id" jdbcType="INTEGER"/>
        <result property="nodeName" column="node_name" jdbcType="VARCHAR"/>
        <result property="structureId" column="structure_id" jdbcType="INTEGER"/>
        <result property="addr" column="addr" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- DangerNodeVO查询结果集映射 -->
    <resultMap id="DangerNodeVOResultMap" type="com.hzcloud.iot.entity.DangerNode">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="inspectionId" column="inspection_id" jdbcType="INTEGER"/>
        <result property="nodeName" column="node_name" jdbcType="VARCHAR"/>
        <result property="structureId" column="structure_id" jdbcType="INTEGER"/>
        <result property="addr" column="addr" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, inspection_id, node_name, structure_id, addr, sort, status, create_time, update_time, del_flag</sql>


    <!-- 根据id查询巡检节点详情(跨服务) -->
    <select id="queryDangerNodeDetail" resultMap="DangerNodeVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM danger_node
        WHERE del_flag = 0 AND status = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询巡检节点List -->
    <select id="queryDangerNodeList" resultMap="DangerNodeVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM danger_node
        WHERE del_flag = 0 AND status = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询类型字段List -->
    <select id="queryByConditions" resultMap="DangerNodeVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM danger_node
        <where>
            del_flag = 0
            <if test="dangerNodeDTO.type != null and dangerNodeDTO.type != '' ">
                AND type = #{dangerNodeDTO.type}
            </if>
            <if test="dangerNodeDTO.status != null and dangerNodeDTO.status != '' ">
                AND status = #{dangerNodeDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>