<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksame.iot.device.bill.mapper.DeviceInformationAttributeMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.linksame.iot.device.bill.entity.DeviceInformationAttribute">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="virtualId" column="virtual_id" jdbcType="INTEGER"/>
        <result property="attributeId" column="attribute_id" jdbcType="INTEGER"/>
        <result property="machineId" column="machine_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- DeviceInformationAttributeVO查询结果集映射 -->
    <resultMap id="DeviceInformationAttributeVOResultMap"
               type="com.linksame.iot.device.bill.vo.DeviceInformationAttributeVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="virtualId" column="virtual_id" jdbcType="INTEGER"/>
        <result property="attributeId" column="attribute_id" jdbcType="INTEGER"/>
        <result property="machineId" column="machine_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, virtual_id, attribute_id, machine_id, status, create_time, update_time, del_flag</sql>


    <!-- 根据id查询虚拟设备台账属性表详情(多服务) -->
    <select id="queryDeviceInformationAttributeDetail" resultMap="DeviceInformationAttributeVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device_information_attribute
        WHERE del_flag = 0 AND id = #{id}
    </select>

    <!-- 无参查询虚拟设备台账属性表List -->
    <select id="queryDeviceInformationAttributeList" resultMap="DeviceInformationAttributeVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device_information_attribute
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询虚拟设备台账属性表List -->
    <select id="queryByConditions" resultMap="DeviceInformationAttributeVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device_information_attribute
        <where>
            del_flag = 0
            <if test="deviceInformationAttributeDTO.name != null and deviceInformationAttributeDTO.name != '' ">
                AND `name` LIKE CONCAT('%', #{deviceInformationAttributeDTO.name},'%')
            </if>
            <if test="deviceInformationAttributeDTO.status != null and deviceInformationAttributeDTO.status != '' ">
                AND status = #{deviceInformationAttributeDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
