<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.iot.dao.FlowEntranceAlarmMapper">

    <!-- RspFlowEntranceAlarmDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.iot.bean.dto.RspFlowEntranceAlarmDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="regionId" column="region_id" jdbcType="INTEGER"/>
        <result property="positionId" column="position_id" jdbcType="INTEGER"/>
        <result property="eventId" column="event_id" jdbcType="VARCHAR"/>
        <result property="eventType" column="event_type" jdbcType="INTEGER"/>
        <result property="eventTypeDetail" column="event_type_detail" jdbcType="VARCHAR"/>
        <result property="eventLevel" column="event_level" jdbcType="INTEGER"/>
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="handler" column="handler" jdbcType="VARCHAR"/>
        <result property="handlerTel" column="handler_tel" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="originalData" column="original_data" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, device_id, region_id, position_id, event_id, event_type, event_type_detail, event_level, video_url, pic_url, handler, handler_tel, state, original_data, create_by, create_time, update_by, update_time</sql>


    <!-- 视屏告警事件-详情查询 -->
    <select id="queryDetail" resultMap="RspDtoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sp_iot_flow_entrance_alarm
        WHERE id = #{id}
    </select>

    <!-- 视屏告警事件-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, device_id, region_id, position_id, event_id, event_type, event_type_detail, event_level, video_url,
        pic_url, handler, handler_tel, state, original_data, create_by, create_time, update_by, update_time FROM
        sp_iot_flow_entrance_alarm
        <where>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
