<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.iot.dao.FlowRecordMapper">

    <!-- RspFlowRecordDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.iot.bean.dto.RspFlowRecordDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="personId" column="person_id" jdbcType="INTEGER"/>
        <result property="personName" column="person_name" jdbcType="VARCHAR"/>
        <result property="personIdentity" column="person_identity" jdbcType="VARCHAR"/>
        <result property="personType" column="person_type" jdbcType="INTEGER"/>
        <result property="isBlacklist" column="is_blacklist" jdbcType="OTHER"/>
        <result property="isEnter" column="is_enter" jdbcType="OTHER"/>
        <result property="passTime" column="pass_time" jdbcType="TIMESTAMP"/>
        <result property="lastSyncTime" column="last_sync_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, device_id, person_id, person_name, person_identity, person_type, is_blacklist, is_enter, pass_time, last_sync_time, create_by, create_time, update_by, update_time</sql>


    <!-- 人流管理-人流记录-详情查询 -->
    <select id="queryDetail" resultMap="RspDtoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sp_iot_flow_record
        WHERE id = #{id}
    </select>

    <!-- 人流管理-人流记录-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, device_id, person_id, person_name, person_identity, person_type, is_blacklist, is_enter, pass_time,
        last_sync_time, create_by, create_time, update_by, update_time FROM sp_iot_flow_record
        <where>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
