<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksame.iot.meeting.mapper.IotMeetingMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.linksame.iot.meeting.entity.IotMeeting">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="cause" column="cause" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="compereId" column="compere_id" jdbcType="INTEGER"/>
        <result property="preparerId" column="preparer_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="billingId" column="billing_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- IotMeetingVO查询结果集映射 -->
    <resultMap id="IotMeetingVOResultMap" type="com.linksame.iot.meeting.vo.IotMeetingVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="cause" column="cause" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="compereId" column="compere_id" jdbcType="INTEGER"/>
        <result property="preparerId" column="preparer_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="billingId" column="billing_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, name, cause, tenant_id, room_id, compere_id, preparer_id, type, level, start_time, end_time, introduction, billing_id, status, create_time, update_time, del_flag</sql>


    <!-- 根据id查询会议信息详情(跨服务) -->
    <select id="queryIotMeetingDetail" resultMap="IotMeetingVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_meeting
        WHERE del_flag = 0 AND status = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询会议信息List -->
    <select id="queryIotMeetingList" resultMap="IotMeetingVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_meeting
        WHERE del_flag = 0 AND status = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询会议信息List -->
    <select id="queryByConditions" resultMap="IotMeetingVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_meeting
        <where>
            del_flag = 0
            <if test="iotMeetingDTO.type != null and iotMeetingDTO.type != '' ">
                AND type = #{iotMeetingDTO.type}
            </if>
            <if test="iotMeetingDTO.status != null and iotMeetingDTO.status != '' ">
                AND status = #{iotMeetingDTO.status}
            </if>
            <if test="iotMeetingDTO.status == null or iotMeetingDTO.status == '' ">
                AND status = '0'
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
