<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksame.iot.external.structure.mapper.IotStructureResourceMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.linksame.iot.external.structure.entity.IotStructureResource">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="structureId" column="structure_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="resourceId" column="resource_id" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- IotStructureResourceVO查询结果集映射 -->
    <resultMap id="IotStructureResourceVOResultMap"
               type="com.linksame.iot.external.structure.vo.IotStructureResourceVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="structureId" column="structure_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="resourceId" column="resource_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, structure_id, type, resource_id</sql>


    <!-- 根据id查询资产结构与资源关系（深宝园-手动维护）详情(多服务) -->
    <select id="queryIotStructureResourceDetail" resultMap="IotStructureResourceVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_structure_resource
        WHERE del_flag = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询资产结构与资源关系（深宝园-手动维护）List -->
    <select id="queryIotStructureResourceList" resultMap="IotStructureResourceVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_structure_resource
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询资产结构与资源关系（深宝园-手动维护）List -->
    <select id="queryByConditions" resultMap="IotStructureResourceVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_structure_resource
        <where>
            del_flag = 0
            <if test="iotStructureResourceDTO.name != null and iotStructureResourceDTO.name != '' ">
                AND `name` LIKE CONCAT('%', #{iotStructureResourceDTO.name},'%')
            </if>
            <if test="iotStructureResourceDTO.status != null and iotStructureResourceDTO.status != '' ">
                AND status = #{iotStructureResourceDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
