<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.iot.dao.LightPoleMapper">

    <!-- RspLightPoleDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.iot.bean.dto.RspLightPoleDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" jdbcType="INTEGER"/>
        <result property="deviceTypeId" column="device_type_id" jdbcType="INTEGER"/>
        <result property="deviceTypeSubId" column="device_type_sub_id" jdbcType="INTEGER"/>
        <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
        <result property="deviceAttr" column="device_attr" jdbcType="INTEGER"/>
        <result property="deviceNum" column="device_num" jdbcType="VARCHAR"/>
        <result property="regionId" column="region_id" jdbcType="INTEGER"/>
        <result property="positionId" column="position_id" jdbcType="INTEGER"/>
        <result property="longitude" column="longitude" jdbcType="NUMERIC"/>
        <result property="latitude" column="latitude" jdbcType="NUMERIC"/>
        <result property="lastSyncTime" column="last_sync_time" jdbcType="TIMESTAMP"/>
        <result property="isDisabled" column="is_disabled" jdbcType="OTHER"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, device_type_id, device_type_sub_id, device_name, device_attr, device_num, region_id, position_id, longitude, latitude, last_sync_time, is_disabled, status, create_by, create_time, update_by, update_time</sql>


    <!-- 灯杆-详情查询 -->
    <select id="queryDetail" resultMap="RspDtoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sp_iot_light_pole
        WHERE id = #{id}
    </select>

    <!-- 灯杆-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, park_id, device_type_id, device_type_sub_id, device_name, device_attr, device_num, region_id, position_id,
        longitude, latitude, last_sync_time, is_disabled, status, create_by, create_time, update_by, update_time FROM
        sp_iot_light_pole
        <where>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
