<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksame.mapper.ParkProjectMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.linksame.entity.ParkProject">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="country" column="country" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="district" column="district" jdbcType="VARCHAR"/>
        <result property="street" column="street" jdbcType="VARCHAR"/>
        <result property="planArchitectureArea" column="plan_architecture_area" jdbcType="NUMERIC"/>
        <result property="capacityRate" column="capacity_rate" jdbcType="NUMERIC"/>
        <result property="siteArea" column="site_area" jdbcType="NUMERIC"/>
        <result property="stagePlan" column="stage_plan" jdbcType="INTEGER"/>
        <result property="industryCategory" column="industry_category" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="otherDescription" column="other_description" jdbcType="VARCHAR"/>
        <result property="projectImg" column="project_img" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifer" column="modifer" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
        <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
        <result property="assetTypeId" column="asset_type_id" jdbcType="INTEGER"/>
        <result property="pinyin" column="pinyin" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, company_id, project_code, project_name, country, province, city, district, street, plan_architecture_area, capacity_rate, site_area, stage_plan, industry_category, start_time, other_description, project_img, delete_flag, creator, create_time, modifer, modify_time, longitude, latitude, asset_type_id, pinyin</sql>


    <!-- 根据id查询资源管理-项目表详情(多服务) -->
    <select id="queryParkProjectDetail" resultMap="ParkProjectVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM park_project
        WHERE del_flag = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询资源管理-项目表List -->
    <select id="queryParkProjectList" resultMap="ParkProjectVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM park_project
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询资源管理-项目表List -->
    <select id="queryByConditions" resultMap="ParkProjectVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM park_project
        <where>
            del_flag = 0
            <if test="parkProjectDTO.name != null and parkProjectDTO.name != '' ">
                AND `name` LIKE CONCAT('%', #{parkProjectDTO.name},'%')
            </if>
            <if test="parkProjectDTO.status != null and parkProjectDTO.status != '' ">
                AND status = #{parkProjectDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
