<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.safe.dao.PatrolPointMapper">

    <!-- RspPatrolPointDto查询结果集映射 -->
    <resultMap id="RspDtoResultMap" type="com.cateyes.smart.park.safe.bean.dto.RspPatrolPointDto">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="structureId" column="structure_id" jdbcType="INTEGER"/>
        <result property="pointName" column="point_name" jdbcType="VARCHAR"/>
        <result property="structureCode" column="structure_code" jdbcType="VARCHAR"/>
        <result property="enterpriseId" column="enterprise_id" jdbcType="INTEGER"/>
        <result property="planType" column="plan_type" jdbcType="INTEGER"/>
        <result property="planFirstTime" column="plan_first_time" jdbcType="TIMESTAMP"/>
        <result property="executorIds" column="executor_ids" jdbcType="VARCHAR"/>
        <result property="enable" column="enable" jdbcType="OTHER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="manualFileIds" column="manual_file_ids" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, structure_id, point_name, structure_code, enterprise_id, plan_type, plan_first_time, executor_ids, enable, remark, manual_file_ids, create_by, create_time, update_by, update_time</sql>


    <!-- 巡检点-详情查询 -->
    <select id="queryDetail" resultMap="RspDtoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sp_sf_patrol_point
        WHERE id = #{id}
    </select>

    <!-- 巡检点-条件查询 -->
    <select id="queryByConditions" resultMap="RspDtoResultMap">
        SELECT
        id, structure_id, point_name, structure_code, enterprise_id, plan_type, plan_first_time, executor_ids, enable,
        remark, manual_file_ids, create_by, create_time, update_by, update_time FROM sp_sf_patrol_point
        <where>
            <if test="reqDto.parkId != null">
                AND park_id = #{reqDto.parkId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
