<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.resource.dao.SpEnterpriseOutputMapper">

    <!-- RspSpEnterpriseOutputDto查询结果集映射 -->
    <resultMap id="RspSpEnterpriseOutputDtoResultMap" type="com.cateyes.smart.park.resource.bean.dto.RspSpEnterpriseOutputDto">
                    <result property="id" column="id" jdbcType="INTEGER"/>
                    <result property="parkId" column="park_id" jdbcType="INTEGER"/>
                    <result property="enterpriseId" column="enterprise_id" jdbcType="INTEGER"/>
                    <result property="month" column="month" jdbcType="TIMESTAMP"/>
                    <result property="outPut" column="out_put" jdbcType="NUMERIC"/>
                    <result property="outPutIncrease" column="out_put_increase" jdbcType="NUMERIC"/>
                    <result property="reportTime" column="report_time" jdbcType="TIMESTAMP"/>
                    <result property="createBy" column="create_by" jdbcType="INTEGER"/>
                    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                    <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
                    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">id, park_id, enterprise_id, month, out_put, out_put_increase, report_time, create_by, create_time, update_by, update_time</sql>


    <!-- 企业产值-详情查询 -->
    <select id="queryDetail" resultMap="RspSpEnterpriseOutputDtoResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM sp_enterprise_output
        WHERE id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 企业产值-条件查询 -->
    <select id="queryByConditions"  resultMap="RspSpEnterpriseOutputDtoResultMap">
        SELECT
            id, park_id, enterprise_id, month, out_put, out_put_increase, report_time, create_by, create_time, update_by, update_time        FROM sp_enterprise_output
        <where>
            <if test="reqDto.type != null and reqDto.type != '' ">
                AND type = #{reqDto.type}
            </if>
            <if test="reqDto.status != null">
                AND status = #{reqDto.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
    
</mapper>
