package ${package.Mapper};
${package.Entity}
.${entity};
    ${superMapperClassPackage}
        ;

/**
 * @描述：$!{table.comment} Mapper 接口
 * @作者: ${author}
 * @日期: ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

        }