package ${package.ServiceImpl}import org.springframework.stereotype.Service;

;
${package.Entity}
.${entity};
    ${package.Mapper}
        .${table.mapperName};
    ${package.Service}
        .${table.serviceName};

/**
 * @描述：$!{table.comment} 服务类
 * @作者: ${author}
 * @日期: ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName}{


        }