<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzcloud.iot.meeting.mapper.IotMeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzcloud.iot.meeting.entity.IotMeeting">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="cause" property="cause" />
        <result column="resources_id" property="resourcesId" />
        <result column="preparation_id" property="preparationId" />
        <result column="register_id" property="registerId" />
        <result column="type" property="type" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="introduction" property="introduction" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, cause, resources_id, preparation_id, register_id, type, start_time, end_time, introduction, status, create_time, update_time, del_flag
    </sql>

</mapper>
