HELP.md
README.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### 从未提交过的文件可以用 .gitignore； 也就是添加之后从来没有提交 commit 过的文件，可以使用 .gitignore忽略该文件。###
### 只针对文件夹名，不管路径

### STS ###
.idea
/.idea/
target
/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.class
*.iml

### IntelliJ IDEA ###
.idea
/.idea/
target
/target/
/src/test/
*.iws
*.iml
*.ipr
*.class
*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
