<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.quota.mapper.QuotaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fitmgr.quota.entity.Quota">
    <result column="id" property="id" />
        <result column="quota_id" property="quotaId" />
        <result column="quota_item_id" property="quotaItemId" />
        <result column="resource_type" property="resourceType" />
        <result column="is_limit" property="isLimit" />
        <result column="quota_total" property="quotaTotal" />
        <result column="quota_surplus" property="quotaSurplus" />
        <result column="tp_id" property="tpId" />
        <result column="quota_type" property="quotaType" />
        <result column="elastic_expansion" property="elasticExpansion" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        quota_id, quota_item_id, resource_type, is_limit, quota_total, quota_surplus, tp_id, quota_type, elastic_expansion, create_time, update_time, del_flag
    </sql>

</mapper>
