<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.quota.mapper.TbArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fitmgr.quota.entity.TbArticle">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="author" property="author" />
        <result column="content" property="content" />
        <result column="content_md" property="contentMd" />
        <result column="category" property="category" />
        <result column="origin" property="origin" />
        <result column="state" property="state" />
        <result column="publish_time" property="publishTime" />
        <result column="edit_time" property="editTime" />
        <result column="create_time" property="createTime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        title, cover, author, content, content_md, category, origin, state, publish_time, edit_time, create_time, type
    </sql>

</mapper>
