<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=".mapper.SpInvestmentLeadMapper">
    <!-- 通用查询结果集映射 -->
    <resultMap id="BaseResultMap" type=".entity.SpInvestmentLead">
                    <result property="id" column="id" jdbcType=""/>
                    <result property="name" column="name" jdbcType=""/>
                    <result property="serialNumber" column="serial_number" jdbcType=""/>
                    <result property="contactPerson" column="contact_person" jdbcType=""/>
                    <result property="contactTel" column="contact_tel" jdbcType=""/>
                    <result property="fromType" column="from_type" jdbcType=""/>
                    <result property="wayType" column="way_type" jdbcType=""/>
                    <result property="followBy" column="follow_by" jdbcType=""/>
                    <result property="createBy" column="create_by" jdbcType=""/>
                    <result property="createTime" column="create_time" jdbcType=""/>
            </resultMap>
    <!-- SpInvestmentLeadVO查询结果集映射 -->
    <resultMap id="SpInvestmentLeadVOResultMap" type=".vo.SpInvestmentLeadVO">
                    <result property="id" column="id" jdbcType=""/>
                    <result property="name" column="name" jdbcType=""/>
                    <result property="serialNumber" column="serial_number" jdbcType=""/>
                    <result property="contactPerson" column="contact_person" jdbcType=""/>
                    <result property="contactTel" column="contact_tel" jdbcType=""/>
                    <result property="fromType" column="from_type" jdbcType=""/>
                    <result property="wayType" column="way_type" jdbcType=""/>
                    <result property="followBy" column="follow_by" jdbcType=""/>
                    <result property="createBy" column="create_by" jdbcType=""/>
                    <result property="createTime" column="create_time" jdbcType=""/>
            </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="Base_Column_List">#allSqlColumn()</sql>


    <!-- 根据id查询招商线索列表详情(多服务) -->
    <select id="querySpInvestmentLeadDetail" resultMap="SpInvestmentLeadVOResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM sp_investment_lead
        WHERE del_flag = 0 AND id = #{id}
        ORDER BY create_time DESC
    </select>

    <!-- 无参查询招商线索列表List -->
    <select id="querySpInvestmentLeadList" resultMap="SpInvestmentLeadVOResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM sp_investment_lead
        WHERE del_flag = 0
        ORDER BY create_time DESC
    </select>

    <!-- 条件查询招商线索列表List -->
    <select id="queryByConditions"  resultMap="SpInvestmentLeadVOResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM sp_investment_lead
        <where>
            del_flag = 0
            <if test="spInvestmentLeadDTO.name != null and spInvestmentLeadDTO.name != '' ">
                AND `name` LIKE CONCAT('%', #{spInvestmentLeadDTO.name},'%')
            </if>
            <if test="spInvestmentLeadDTO.status != null and spInvestmentLeadDTO.status != '' ">
                AND status = #{spInvestmentLeadDTO.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
