<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cateyes.smart.park.report.dao.VtBsInvestmentResourcesMapper">

    <!-- RspVtBsInvestmentResourcesDto查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.cateyes.smart.park.report.bean.dto.RspVtBsInvestmentResourcesDto">
        <result property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="parkId" column="park_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="parkName" column="park_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="date" column="date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="isProvincePark" column="is_province_park" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="regionId" column="region_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="reportOrganize" column="report_organize" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="reportPerson" column="report_person" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="reportTime" column="report_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="areaPlan" column="area_plan" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaPlanAffirm" column="area_plan_affirm" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaStorage" column="area_storage" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaLandNewCollect" column="area_land_new_collect" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="areaLandPrepared" column="area_land_prepared" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaLandBuild" column="area_land_build" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaLandIndustry" column="area_land_industry" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="landInvestmentIntensity" column="land_investment_intensity" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="areaLandAvailableSupply" column="area_land_available_supply" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="areaLandCultivated" column="area_land_cultivated" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="areaApprovedNotSupply" column="area_approved_not_supply" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="areaApprovedNotBuilt" column="area_approved_not_built" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="areaLandSigned" column="area_land_signed" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaConstruct" column="area_construct" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="areaBuilt" column="area_built" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="houseAreaArchitecture" column="house_area_architecture" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="houseTotal" column="house_total" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="houseArea" column="house_area" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="houseAreaRented" column="house_area_rented" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="houseAreaRentedStandardFactory" column="house_area_rented_standard_factory"
                javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="houseAreaRentedOffice" column="house_area_rented_office" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="houseAreaRent" column="house_area_rent" javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="houseAreaRentStandardFactory" column="house_area_rent_standard_factory"
                javaType="java.lang.Double" jdbcType="NUMERIC"/>
        <result property="houseAreaRentOffice" column="house_area_rent_office" javaType="java.lang.Double"
                jdbcType="NUMERIC"/>
        <result property="createBy" column="create_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="BaseColumnList">a.id, a.park_id, a.park_name, a.date, a.is_province_park, a.region_id, a.report_organize, a.report_person, a.report_time, a.area_plan, a.area_plan_affirm, a.area_storage, a.area_land_new_collect, a.area_land_prepared, a.area_land_build, a.area_land_industry, a.land_investment_intensity, a.area_land_available_supply, a.area_land_cultivated, a.area_approved_not_supply, a.area_approved_not_built, a.area_land_signed, a.area_construct, a.area_built, a.house_area_architecture, a.house_total, a.house_area, a.house_area_rented, a.house_area_rented_standard_factory, a.house_area_rented_office, a.house_area_rent, a.house_area_rent_standard_factory, a.house_area_rent_office, a.create_by, a.create_time, a.update_by, a.update_time</sql>

    <!-- 智慧大屏-手工-招商资源-详情查询 -->
    <select id="detail" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM sp_vt_bs_investment_resources a
        WHERE a.id = #{id}
    </select>

    <!-- 智慧大屏-手工-招商资源-条件查询 -->
    <select id="queryByConditions" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM sp_vt_bs_investment_resources a
        <where>
            <if test="reqDto.id != null">
                AND a.id = #{reqDto.id}
            </if>
            <if test="reqDto.ids != null and reqDto.ids.size > 0 ">
                AND a.id IN
                <foreach collection="reqDto.ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reqDto.name != null and reqDto.name != '' ">
                AND a.name LIKE concat('%',#{reqDto.name},'%')
            </if>
        </where>
        ORDER BY a.create_at DESC
    </select>


</mapper>
