<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.mapper.SysSmsUserMapper">

    <!-- RspSysSmsUserDto查询结果集映射 -->
    <resultMap id="BaseResultMap" type="com.sms.bean.dto.RspSysSmsUserDto">
        <result property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="smsTaskId" column="sms_task_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="phoneNum" column="phone_num" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="sendStatus" column="send_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="orgCode" column="org_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="companyName" column="company_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="companyEngName" column="company_eng_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="contacts" column="contacts" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询基本字段 -->
    <sql id="BaseColumnList">a.id, a.sms_task_id, a.phone_num, a.send_status, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.org_code, a.company_name, a.company_eng_name, a.contacts</sql>

    <!-- 短信发送用户表-详情查询 -->
    <select id="detail" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM SYS_SMS_USER a
        WHERE DEL_FLAG = 0 and a.ID = #{id}
    </select>

    <!-- 短信发送用户表-条件查询 -->
    <select id="queryByConditions" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM SYS_SMS_USER a
        <where>
            DEL_FLAG = 0
            <if test="reqDto.id != null">
                AND a.ID = #{reqDto.id}
            </if>
            <if test="reqDto.ids != null and reqDto.ids.size > 0 ">
                AND a.ID IN
                <foreach collection="reqDto.ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reqDto.name != null and reqDto.name != '' ">
                AND a.NAME LIKE concat('%',#{reqDto.name},'%')
            </if>
        </where>
        ORDER BY a.CREATE_TIME DESC
    </select>


</mapper>
